* {
  box-sizing: border-box;
}

html {
  font-family: "Courier Next", Courier, monospace;
  font-size: 15px;
  line-height: 1.6;
}

body,
.container,
.overlay {
  width: 100vw;
  height: 100vh;
}

.container {
  background-position: center;
  background-size: cover;
}

.overlay {
  z-index: 1;
  background: transparent;
  background: linear-gradient(180deg, rgba(0,0,0,.25) 0, transparent 20%, transparent 60%, rgba(0,0,0,.3));
}

header,
footer {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  padding: 15px 20px;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.ui-left {
  display: flex;
  flex: 1;
}

.popover {
  z-index: 10;
  position: absolute;
  top: 4rem;
  right: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all .25s cubic-bezier(.24, .22, .015, 1.56), opacity .1s ease-in-out;
  transform: scale(.85) translateY(-10%);
}

.popover:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 85%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, .8);
}

.popover.is-visible {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0);
}

.popover ul {
  list-style-type: none;
  padding: 0 15px;
  font-size: 14px;
}

.popover li {
  margin: 15px 0;
}

.popover li:last-of-type {
  margin-bottom: 0;
}

.btn {
  color: #777;
  background-color: rgba(255, 255, 255, .8);
  display: inline-block;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 32px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-link-primary,
.user-link-secondary {
  display: block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-link-secondary {
  padding-top: 4px;
  font-size: 11px;
}

.user-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, .04);
  opacity: .8;
  transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
  opacity: 1;
}

img {
  vertical-align: middle;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}
