* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Courier Next", Courier, monospace;
  font-size: 15px;
  line-height: 1.6;
}

body,
.app,
.overlay {
  width: 100vw;
  height: 100vh;
}

.app {
  background-position: center;
  background-size: cover;
}

.overlay {
  background-image: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, .3));
}

.ui {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 15px 20px;
}

.ui-left,
.ui-right {
  height: 32px;
}

.ui-left {
  display: flex;
  flex: 1;
}

.popover {
  position: absolute;
  bottom: 60px;
  right: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all .25s cubic-bezier(.24, .22, .015, 1.56), opacity .1s ease-in-out;
  transform: scale(.85) translateY(-10%);
}

.popover:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, .8);
}

.popover.is-visible {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0);
}

.popover ul {
  list-style-type: none;
  padding: 0 15px;
  font-size: 14px;
}

.popover li {
  margin: 15px 0;
}

.popover li:last-of-type {
  margin-bottom: 0;
}

.btn {
  color: #666;
  background-color: white;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-link-primary,
.user-link-secondary {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-link-secondary {
  padding-top: 4px;
  font-size: 11px;
}

.user-image {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, .04);
  opacity: .8;
  transition: all .2s ease-in-out;
}

a:hover,
a:active,
a:focus {
  opacity: 1;
}

img {
  vertical-align: middle;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}
