body,
.App {
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.App {
  background-position: center;
  background-size: cover;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* NProgress overrides */
#nprogress .bar {
  background: #fafbfc !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fafbfc, 0 0 5px #fafbfc;
}

#nprogress .spinner-icon {
  border-top-color: #fafbfc;
  border-left-color: #fafbfc;
}
